2021年4月27日（火）2限に行った講義内容です。

In [ ]:
print("Hello!")

In [ ]:
1+1

In [ ]:
2*2*2*2

In [ ]:
a = 8
b = 2
c = a + b
print(a, b, c)

In [ ]:
x = 8
y = x * 4
print(x)
print(y)

In [ ]:
# コメント文

In [ ]:
print("x = {}".format(x))
print("y = {}".format(y))

In [ ]:
my_list = [140, 120, 110, 0]
print(my_list)

In [ ]:
print(my_list[:-1])

In [ ]:
a = [1, 3, 2, 5, 7]

In [ ]:
a[0] = 10

In [ ]:
print(a)

In [ ]:
a[1:4] = [20, 30]

In [ ]:
print(a)

In [ ]:
a = [0, 1, 2, 3]
print(a)

In [ ]:
b = list(range(10))
print(b)

In [ ]:
a = list(range(4))
print(a)

In [ ]:
print(list(range(1,7)))

In [ ]:
print(list(range(1,10, 2)))

In [ ]:
text = 'Hello, '

In [ ]:
name = 'Mackey'

In [ ]:
print(text + name +"!")

In [ ]:
print('The answer is ' + str(x))

In [ ]:
text = "Hello, world!"

In [ ]:
print(text[1:3])
print(text[:5])
print(text[6:])

In [ ]:
a = 'test'
b = 100
c = 3.141592

In [ ]:
print('文字列は{}です。'.format(a))

In [ ]:
print('整数は{}です。'.format(b))

In [ ]:
print('浮動小数点は{:.2f}です。'.format(c))

In [ ]:
print('全部表示してみると: {},{},{:.2f}'.format(a, b, c))

In [ ]:
my_list = ['Apple', 'Cherry']
print(my_list)

In [ ]:
my_list.append('Strawberry')
print(my_list)

In [ ]:
my_list.insert(0, "Banana")
print(my_list)

In [ ]:
del my_list[0]
print(my_list)

In [ ]:
my_list.remove('Apple')
print(my_list)

In [ ]:
my_dic = {'Apple': 300, 'Cherry':200, 'Strawberry': 3000}
print(my_dic)

In [ ]:
print(my_dic['Apple'])

In [ ]:
my_tuple = (1, 2, 3, 4)

In [ ]:
print(my_tuple)
print(my_tuple[1:3])

In [ ]:
num = 5
if num >= 10:
  print('numは10以上です。')
else:
  print('numは１０より小さいです。')

In [ ]:
for n in [1,2,3]:
  print(n)
print(n*10)

In [ ]:
for n in range(7):
  print(n)

In [ ]:
i = 0
while i < 20:
  i += 1
  if i % 2 == 0:
    continue
  if i % 3 == 0:
    print(i)

In [ ]:
for num, fruit in enumerate(['Apple', 'Cherry', 'Strawberry']):
  print('{}:{}'.format(num, fruit))